@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

h2 {
  margin: 40px 0px 40px 0;
} 
.container {
background-color: rgb(240, 229, 229);
}

header, nav {
  background-color: rgb(141, 139, 139);
}
nav { 
  width: auto;
  height: 12vh;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bi-alarm {
  border: none;
  background-color: #fff;
  background-color: rgb(141, 139, 139);
}

.bi-alarm:hover{
  background-color: #0d6efd;
  color: white;
}



